/*
==============================
HEADER
==============================
*/
#header-container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

/*
==============================
GAME AREA
==============================
*/
#game-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.board-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.board-cell {
  border: solid black;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}