/*===================
Board Container
===================*/
#board-container {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  align-items: center;
}

/*===================
Disc Bar
===================*/
#bar {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.disc-button {
  margin: 2px;
  border-radius: 50%;
  text-align: center;
  font-size: 5%;
}

/*===================
Board Rows & Cells
===================*/
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.empty-cell {
  text-align: center;
}

.red-cell {
  text-align: center;
  background-color: red;
}

.yellow-cell {
  text-align: center;
  background-color: rgba(255, 255, 0, 0.651);
}

/*===================
Cell Sizing
===================*/

.empty-cell, .red-cell, .yellow-cell, .disc-button {
  line-height: 75px;
  width: 75px;
  height: 75px;
}

/*===================
Grid color
===================*/

.empty-cell, .red-cell, .yellow-cell, .row {
  border: solid rgb(0, 68, 255) 1px;
}